html {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*para que cambie o deslizxe la pagina mas lento*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    max-width: 1200px ;
    font-family: Monsterrat, sans-serif, serif, cursive, monospace;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.color {
    color: #8E7BEF;
}

a:hover {
    text-decoration: underline;
}

.nav_list {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0px 30px;
    background-color: #fff;
    gap: 1.5rem;
    z-index: 2;
    padding-top: 25px;
    transition: all .3s ease;
    box-shadow: 0px 0px 15px -3px #00000042;
    


}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: -400px;
    width: 100%;
    background-color: #fff;
    margin-right: 20px;
    flex-direction: column;
    z-index: 2;
}

.header {
    display: fixed;
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
    

}

.nav__toggle {
    display: flex;
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 28px;
    z-index: 1;
    
}

.nav_close {
    display: flex;
    position: absolute;
    top: 20px;
    right: 28px;
    font-size: 28px;
}
.P{
    color: #423f40;
}
.menu--close {
    cursor: pointer;
    font-size: 28px;
}

.menu--open {
    margin-right: 20px;
    cursor: pointer;
}

.nav_menu.show--menu {
    margin-top: 0;
}

/** Main */
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: var(--navbar-height);
}

/*perfil*/
.home_container {
   display: grid;
   grid-template-rows: 600px 400px;
    margin-top: 40px;
    width: 100%;
    z-index: 1;
}
.perfil{
    display: flex;
    position: relative;
    grid-row: 1;
    width: 100%;
}
.fondo {
    display: flex;
    position: absolute;
    height: 560px;
    width: 100%;
}
.fondo_vector{
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 645px;
    min-width: 465px;
   
}
.imagen{
    display: flex;
    position: absolute;
    margin-top: 10px;
    width: 100%;
    max-width: 645px;
    min-width: 465px;
}
.fondo_imagen{
    width: 100%;
    max-height: 598px;
}
.info{
    grid-row: 2;

}
.datos{
    text-align: center;
    
}
.datos > h1 {
    font-size: 50px;
}
.datos > p {
    
    font-size: 20px;
    text-align: center;
    width: 450px;
    margin: 0px auto;
    color: #423F40;

}
.info{
    margin: 0px auto;
}
.redes, .contactame{
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icono, .btn_contactame{
    margin: 0px auto;
}
.btn_contactame{
    background-color: #5D3BEF;
    height: 45px;
    width: 400px;
    color: #fff;
    gap: 1rem;
    font-size: 15px;
    border: #5D3BEF;
}
.about_item > h2 {
    text-align: center;
}
.about_item > p {
    text-align: justify;
    color: #423f40;
}
.about_item{
    margin: 0px 20px;
}
.about{
    display: flex;
    position: relative;
    margin-top: 20px;
}
.design{
    display: block;
    height: 250px;
    width: 230px;
    background-color: #F9F6FF;
}
.interactive, .web {
    display: none;
}
.skills_design{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.skills_titulo{
    text-align: center;
}
.experience_titulo{
    text-align: center;
}
.i_exp{
  justify-content: end;  
  padding-left: 73px;
  padding-top: 0px;
}
.experience{
    height: 422px;
}
.bxl{
    display: flex;
    width: 100%;
}
.bxxl{
    
    width: 226px;
}
.sep{
    padding-left: 89px;
}
.esp{
    padding-bottom: 39px;
}
.bxxl > h4{
    margin-top: 0px;
    margin-bottom: 5px;
}
.bxxl > p {
    font-size: 10px;
    line-height:0.5;
}
.portafolio{
    text-align: center;
    height: 1207px;
}
.porta_img{
    padding-bottom: 20px;
}
.contacto{
    text-align: center;
    height: 486px;
}
.contacto_titulo > h2 {
    padding-bottom: 25px;
}
.cel > p {
    font-size: 15px;
    color: #423f40;
}
.cel > h4 {
    margin-bottom: 15px;
}
.cel{
    line-height:0.3;
    height: 189px;
}
.cel > img{
    background-color: #F9F5F2;
    padding: 20px 20px;
    border-radius: 27px;
}
.footer{
    text-align: center;
    color: #5D3BEF;
}
@media (min-width: 888px) {
.nav_list{
    justify-content: flex-end;
}
}


@media (min-width: 768px) {
    .nav__toggle {
        display: none;
    }

    .nav_close {
        display: none;
    }

    .nav_menu {
        /* height: 57px; */
        margin-top: 0px;
        margin-left: 40px;
        
    }

    .nav_list {
        display: flex;
        position: relative;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        
        padding-right: 180px;
        gap: 3rem;
        margin-top: 0px;
        margin-left: 40px;
        border-right: 20px;
        flex-direction: row;
        box-shadow: 0px 0px 0px 0px;
    }

    .home_container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
      
    }

    .perfil {
        
        grid-column: 1/4;
        grid-row: 1/6;
        margin-left: 80px;
    }
    .fondo {
        display: flex;
        position: absolute;
        height: 560px;
    }
    .imagen{
        position: absolute;
        padding: 70px 20px 30px 70px;
        margin-top: 10px;
    }
    .info{
        grid-column: 4/7;
        grid-row: 1/7;  
    }
    .fondo_imagen{
        height: 450px;
    }
    .datos{
        grid-column: 4/7;
        grid-row: 1/4;
        margin: 80px 160px 20px 120px;
        
    }
    .datos > h1{
        font-weight: 150px;
        font-size: 55px;
        line-height : 60px;
        
    } 
    .redes{
        grid-column: 4/7;
        grid-row: 4/5;
        display: flex;
        margin-right: 160px;
        margin-left: 120px;
        gap: 1rem;
    }
    .icono{
        height: 55px;
        width: 55px;
    }
    .contactame{
        grid-column: 4/7;
        grid-row: 5/6;
        justify-content: center;
    }
    .btn_contactame{
        margin: 50px 0px 0px 0PX;
        background-color: #5D3BEF;
        height: 30px;
        width: 250px;
        color: #fff;
        gap: 1rem;
        font-size: 15px;
        border: #5D3BEF;
    }
    .about_item{
        margin-left: 90px;
        text-align: center;
        width: 800px;
        margin-top: 30px;
    }
    .about {
        justify-content: center;        
    }
    .center{
        text-align: center;
        display: block;
    }
    .skills{
        justify-content: center;   
        height: 300px;
        margin-left: 80px;
    }
    .skills_titulo{
        text-align: center;
        margin-top: 30px;
    }   
    .skills_design{
        display: flex;
        position: relative;
        justify-content: center;
        gap: 2rem;
    }
    .skill_icon{
        display: inline;
        height: 22px;
        width: 16px;
    }
    .design{
        display: block;
        height: 200px;
        width: 180px;
        background-color: #F9F5F2;
    }
    h3{
        font-size: 18px;
    }
    .design > p{
        font-size: 10px;
    }
    .bxl{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 330px;
    }
   .experience{
    width: 100%;
    height: 217px;
    justify-content: center;
    margin-left: 40px;
   }
   .exp{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 1.5rem;

   }
   .experience_titulo{
    text-align: center;
    padding-bottom: 30px;
    /* padding-left: 45px; */
   }
   .bxxl{
    display: table-cell;
    height: 120px;
    width: 90px;
   }
   .i_exp {
    margin-left: 28px;
    padding-left: 0PX;
   }
   .bxxl > p{
    font-size: 10px;
    line-height:0.5;
   }
   .bxxl > h4{
    margin: 0;
   }
   .años{
    font-size: 25px;
   }
   .sep{
    text-align: right;
    width: 140px;
    padding: 0PX;
   }
   .portafolio{
    margin-left: 40px;
    height: 693px;
    padding-left: 80px;
   }
   .potafolio_galeria{
    overflow: hidden;
    width: 1172px;
   }
   .porta_img{
    float: left;
    padding: 15px 15px;
   }
   .contacto{
    padding-left: 80px;
    height: 276px;
   }
   .medios{
    justify-content: center;
    display: flex;
    gap: 12rem;
   }
   .portafolio_titulo > h2 {
    margin-left: -32px;
   }
   .footer{
    padding-left: 80px;
   }
    } 
   




    /*******************************************************************************************************************/

    /* img {
    max-width: 100%;
    width: 100%;
}

navbar {
    position: fixed;
    /*para dejar la barra fija en la parte superior con el top 0*/
    /* top: 0;
    width: 100%;
    height: var(--navbar-height); */
    /*aqui usamos la variable para darle un tamaño y no se amontonen las cosas*/
    /* background-color: #fff;
    box-shadow: 0px 0px 15px -3px #00000042;
    z-index: 1;
    transition: all .3s ease; */
    /* }

.navbar__container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    height: inherit;
    justify-content: space-between;
}